# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Outputs and data
OriFlake_outputs/
images/testImg/**

# Plots and generated images
**/*_overlay_*.png
**/orientations_*_*.png
**/oriflake_results_*.csv
**/*_probe.png
**/*_direct.png

# Logs
*.log

